.skills{
    padding: 10px;
    border-radius: 5px;
    display: flex;
  align-items: center;


    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.skills img{
    width: 60px;
    object-fit: cover;

}